{% extends "registration/base.html" %}

{%  block home %}
    <div class="content">
        <h1>HOME</h1>
        <h3>
            <a href="/Twitter/"> Link to Twitter here </a>
        </h3>
        <form>
            <button>
                <a href="/logout/">Logout</a>
            </button>
        </form>
    </div>



{%  endblock home %}

{% block not_logged %}

<div class="container" >
  <p> Go log in first </p> 
  <a href="/login"> Login here </a>
  <br>
  <p> Register Here </p> 
  <a href="/register"> Register here </a>
</div>


{% endblock not_logged %}