{% extends "search/base.html" %}

{%  load static  %}


  {% block title %}
    <title>
      Celery Task Page
    </title>
  {% endblock title %}

  {% block header %}
    <h1> 
      Status Page
    </h1>
  {% endblock header %}

  {% block taskResults %}
    {% for taskNumber,taskArgs in tasksData %}
      <div>
        <a href="http://localhost:8000/admin/django_celery_results/taskresult/{{taskNumber}}/change/">Click here for updates {{taskArgs}}</a>
        <br>
      </div>
    {% endfor %}
  {% endblock taskResults %}

