{% extends "search/base.html" %}

{%  load static  %}


  {% block title %}
    <title>
      Celery Task Page
    </title>
  {% endblock title %}

  {% block taskResults %}
    <div class="container">
      <h2>Task Results Table</h2>
          <div class="list-group">
            <div class="d-flex w-100 justify-content-between">
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Arguments</th>
                  </tr>
                </thead>
                <tbody>
                  {% for taskNumber,taskArgs in tasksData %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>
                        <a href="http://localhost:8000/admin/django_celery_results/taskresult/{{taskNumber}}/change/" class="list-group-item">Click here for updates {{taskArgs}}</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </div>
          </div>
        
    </div>
  {% endblock taskResults %}

