{% extends "search/base.html" %}


{%  load crispy_forms_tags  %}


  {% block query %}
  <div class="container"  >
    <h1> 
      Search Database  
    </h1>
    {%  crispy Searchform Searchform.helper  %}
  </div>
  {% endblock query %}


  {% block input %}
    <div class="container" >
      <h1> Add to Database  </h1>
      {%  crispy Inputform Inputform.helper  %}
    </div>

  {% endblock input %}


  {% block not_logged %}
    <div class="container" >
      <p> Go log in first </p> 
      <a href="/login"> Login here </a>
    </div>

  {% endblock not_logged %}

  {% block taskResults %}
    {% if showButton %}
      <button type="button">
        <a href="/results">See Status of Task</a>
      </button>
    {% else %}
    {% endif %}
  {% endblock taskResults %}
