{% extends "search/base.html" %}

{%  load static  %}

{%  load crispy_forms_tags  %}


  {% block query %}
  <div class="container"  >
    <h1> 
      Search Database  
    </h1>
    {%  crispy Searchform Searchform.helper  %}
  </div>
  {% endblock query %}


  {% block input %}
    <div class="container" >
      <h1> Add to Database  </h1>
      {%  crispy Inputform Inputform.helper  %}
    </div>

  {% endblock input %}


  {% block not_logged %}
    <div class="container" >
      <p> Go log in first </p> 
      <a href="/login"> Login here </a>
    </div>

  {% endblock not_logged %}

  {% block taskResults %}
  <form action="/results/" method="POST" id="TaskQueue">
    {%  csrf_token  %}
      <button type="submit" name="taskID" value="{{ task_id }}" form="TaskQueue"></button>    
  </form>
  {% endblock taskResults %}
